<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Crazy Animal Facts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B5CB63C1C3ED9F500E63457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5CB6501C3ED9F600E63457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5CB65B1C3ED9F600E63457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
